.maincontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.titleContainer {
    text-overflow: ellipsis;
    width:12rem;
    white-space: pre;
    overflow: hidden;
    text-decoration: dotted;
}