.smedia {
    border-radius: 100%;
    width: 3%;
    border: 2px solid white;
    background-Color: #fff;
    display: inline;
}
.socialcontainer {
    text-align: center;
}
.socialdisplay {
    display: inline;
    padding: 0 10px;
}